.game-product.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.game-product .swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-product .next {
  position: absolute;
  right: 2%;
  top:0;
}
